/*Override bg and font global defaults*/
html,body{
	background-color: $bright;
}


#main{
	margin: 1em auto;
}

.brand{
	float:left;
	font-size: 1em;
	font-weight: bold;
	padding: 30px 0 0 0;
}
	.brand hgroup{
		padding: 10px 0 0 0;
	}

	.site-title, .site-title a{
		color: $dark;
		font-size: 2em;
	}
.navi{
	font-family: 'Source Sans Pro', sans-serif;
	height: 80px;
	float:right;
	font-size: 1em;
	text-transform: uppercase;
}
	.navi ul{
		padding: 30px 0 0 0;
		margin: 0;
	}
	.navi ul, .navi ul li{
		display: inline-block;
	}
	.navi ul:first-child{
		margin-left: 1em;
	}
	.navi ul li:after{
		content: '/';
		color: $light;
		padding-left: 1em;
		margin-right: 1em;
	}
	.navi ul li:last-child:after{
		content: '';
	}

@media (max-width: 767px){
	.brand{
		float:none;
		text-align: center;
		font-size: 1.5em;
	}
	.navi{
		float:none;
		text-align: center;
	}
}

.topper{
	background-color: $bright;
	border-bottom: solid 1px $light;
	margin-bottom: 1em;
	
	-webkit-box-shadow: inset 0 -1em 4em 0 $light, 0 0px 0 1px $light, 0 0 4px $dark;
	-moz-box-shadow: inset 0 -1em 4em 0 $light, 0 0px 0 1px $light, 0 0 4px $dark;
	-ms-box-shadow: inset 0 -1em 4em 0 $light, 0 0px 0 1px $light, 0 0 4px $dark;
	-o-box-shadow: inset 0 -1em 4em 0 $light, 0 0px 0 1px $light, 0 0 4px $dark;
	box-shadow: inset 0 -1em 4em 0 $light, 0 0px 0 1px $light, 0 0 4px $dark;
}
	@media (max-width: 767px){
		.topper{
			margin-left: -20px;
			margin-right: -20px;
			padding: 0 20px;
		}
	}

	.bottom{
		text-align: center;
	}


.masthead{
	margin-bottom: 2em;
}
	.masthead h1{
		text-align: center;
	}
	.masthead h1:after{
		height: 1px;
		width: 100%;
		margin: 0;
		padding: 0;
		height: 1em;
		margin-top: -.5em;
		font-size: .5em;
		content: '';
		display: block;
		text-align: center;
		color: $medium;
		border-bottom: solid 1px $vg-mid;
	}
	.masthead small{
		font-size: 1.2em;
		color: $medium;
		display:  block;
		text-align: center;
	}

.sidebar{
	padding: 20px;
	border-top-right-radius: 1em;
}

.gravatar img{
	margin-top: 5px;
	-moz-border-radius: 5%;
	-webkit-border-radius: 5%;
	-ms-border-radius: 5%;
	border-radius: 5%;

	box-shadow: 0 0 0 1px $medium, 0 0 0 2px $light, 0 3px 6px 0 $shadow;

}

article footer{
	margin: auto auto 3em auto;	
}
article h1{
	margin: 0;
	padding: .75em 0 0 0;
}
article .pub-group{
	background: $dark;
	color: $bright;
	
	-webkit-box-shadow: 0 0 0 2px $bright, 0 0 .5em $medium;
	-moz-box-shadow: 0 0 0 2px $bright, 0 0 .5em $medium;
	-ms-box-shadow: 0 0 0 2px $bright, 0 0 .5em $medium;
	-o-box-shadow: 0 0 0 2px $bright, 0 0 .5em $medium;
	box-shadow: 0 0 0 2px $bright, 0 0 .5em $medium;
	
	margin: .5em;
	width: 5.5em;
	height: 5.5em;
	border-radius: 50%;
	display: table;
	text-align: center;
	margin-right: .5em;
}
	article .pub-group .pub-date{
		display: table-cell;
		vertical-align: middle;
	}
	@media (max-width: 767px){
		article .pub-group {
			background: none;
			color: $dark;
			margin: 0 auto;
			width: 100%;
			height: auto;
			text-align: center;
			border-bottom: solid 1px $light;
			box-shadow: none;
			border-radius: 0;
		}
			article .pub-group  .pub-date{
				display: block;
			}
	}

.sidebar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	.sidebar ul li{
		border-bottom: dotted 1px $light;
	}

a{
	color: $vg-mid;
}
a:hover{
	color: $vg-dark;
	text-decoration: none;
}

aside h1{
	font-size: 1.5em;
}

nav form{
	margin: 5px 0 0 0;
	padding: 0;
	height: 30px;
}

article header{
	border-bottom: solid 1px $light;
}

.subscription-search{
	padding-right: 1em;
}


.byline.author{
	display: block;
	text-align: right;
	width: 100%;
	color: $light;
}

.paging{
	border-top: solid 1px $vg-mid;
}




// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

//$header-font-size: 1em;
//$header-padding-top: 1.5em;
//$header-padding-bottom: 1.5em;

//$max-width: 1350px;
//$indented-lists: true;

// Padding used for layout margins
//$pad-min: 18px;
//$pad-narrow: 25px;
//$pad-medium: 35px;
//$pad-wide: 55px;

// Sidebar widths used in media queries
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;
